.circle{
    padding-top: 3rem;
    padding-bottom: 3rem;



    h4{
        font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #1E212C;
    }

    img{
        width: 100px;
        height: 100px;
    }
}