*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10rem;


    nav{
        ul{
            li{
                a{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                }
            }
        }

        .talktoHuman{
            background: #7772F1;
            padding: 0px 40px;
            a{
                text-align: center;
                letter-spacing: 0.5px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 52px;
                color: white;
                text-decoration: none;
            }
        }
    }


    .heroContent{
        margin-top: 80px;
        h1{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 130%;
            letter-spacing: 1px;

            span{
                color: #7772F1 !important;
            }
        }


        .heroBottom{
            .herobottomContent{
                padding: 0px 40px;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                background-color: transparent;
                a{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 52px;
                    letter-spacing: 0.5px;
                    text-decoration: none;
                    color: white !important;
                }
            }

            .heroBottomBtn{
                img{
                    width: 55px;
                }
                h4{
                    color: white;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                }
            }
        }

    }

    #thirdRow{
        ul{
            list-style-type: none;
            li{
                a{
                    text-decoration: none;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: #FFFFFF;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

    }

}




@media (max-width: 992px) { 
    .heroContent h1{
        font-size: 30px !important;
    }


    .heroImg{
        img{
            height: 300px !important;
        }
    }

    .hero{
        padding-bottom: 15rem !important;

    }

    #thirdRow ul{
        display: flex !important;
        flex-direction: column !important;

        li{
            margin-top: 20px;
            a{
                font-size: 18px  !important;
            }
        }
    }
    




 }